
/* Nubes animadas */
body::before,
body::after {
  content: "";
  position: absolute;
  top: 20%;
  width: 200px;
  height: 60px;
  background: white;
  border-radius: 50px;
  box-shadow: 
    60px 0 white,
    120px 10px white,
    30px -20px white,
    90px -15px white;
  opacity: 0.8;
  animation: moverNubes 60s linear infinite;
}

body::after {
  top: 60%;
  width: 250px;
  height: 70px;
  animation-duration: 90s;
  opacity: 0.6;
}

/* Animación */
@keyframes moverNubes {
  0% {
    left: -300px;
  }
  100% {
    left: 110%;
  }
}
