.ContenedorTarjeta {
    width: 90%;
    height: 350px; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.Tarjeta {
    color: #504b43;
    font-size: 18px;
    width: 20%;
    height: 250px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    background: linear-gradient(to right, #8fd694, #7dba84, #77ad78);
}

.Tarjeta img {
    width: 100px;
    height: auto;
    padding: 10px;
    object-fit: cover;
}

.Tarjeta h3 {
    margin: 10px 0;
    color: #504b43;
    font-size: 18px;
    font-weight: bold;
}

.Tarjeta p {
    margin: 0;
    color: #6f8f72;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 10px;
}


