.Encabezado {
    background-color: #8fd694;
    width: 100%;   
    box-shadow: 2px 2px 10px rgba(111, 143, 114, 0.5); /* sombra verde/gris */
}
.Encabezado div {
    display: flex;
}

.Logo {
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.Logo img {
    width: 100px;
}

.menuDiv {
    width: 60%;
    align-items: center;
    justify-content: center;
}
.menuDiv ul {
    width: 80%;
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 30px;
    font-family: titulos;
    background-color: #6f8f72; /* verde grisáceo */
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.menuDiv ul li a {
    text-decoration: none;
    color: #ffffff;
}
.menuDiv ul li a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #504b43; /* café/gris */
    padding: 10px;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.redesDiv {
    width: 20%;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.redesDiv ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}
.redesDiv li img {
    width: 50px;
    display: flex;
    margin: 10px;
    filter: drop-shadow(2px 2px 5px rgba(119, 173, 120, 0.8)); /* sombra verde */
}
.redesDiv ul li img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
