.ContenedorInformacion {
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.Info {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3)), url('./assets/react.svg'); /*Aqui pones tu imagen, no quites el linear gradient*/
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.Info h3 {
    font-size: 40px;
    color: #6f8f72; /* verde grisáceo */
    margin-top: 20px;
}

.Info p {
    font-size: 30px;
    color: #504b43; /* tono café/gris */
    margin: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.Info a {
    color: #504b43; /* cambia a café/gris al pasar el mouse */ 
    text-decoration: underline solid #77ad78 2px; 
}