.ContenedorPie{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 18px 36px;
    margin-top: 300px;
    background: var(--c2);
    color: var(--c5);
    font-size: 16px;
}
.Pie{ width: 50%; text-align: left; color: var(--c5); }
.Pie2{ width: 50%; text-align: right; color: var(--c5); }

